<div class="container-fluid">
	<h1 align="center">Current Wikis </h1> <% if policy(@all).new? %> <%= link_to "Create New", new_wiki_path, class: 'btn btn-success' %><% end %>
		<div class="container" align="center">
			<%= render 'wikis/wikis' %>
		</div>
</div>

